openapi: 3.2.0
info:
  title: Confluent Cloud Kafka REST ACLs Consumer Groups API
  version: v3
  description: Best-effort OpenAPI 3.1 description of a subset of the Confluent Cloud Kafka REST API (v3) and Cloud Management API as published at https://docs.confluent.io/. Authoritative, full reference lives in Confluent's per-resource API documentation; this spec covers commonly used cluster, topic, partition, consumer group, and ACL operations together with the documented HTTP Basic (API key) authentication scheme.
  contact:
    name: Confluent Documentation
    url: https://docs.confluent.io/
  license:
    name: Confluent Community License / Apache 2.0
    url: https://www.confluent.io/confluent-community-license/
servers:
- url: https://api.confluent.cloud
  description: Confluent Cloud control plane
- url: https://{kafka_cluster_host}
  description: Confluent Cloud Kafka REST endpoint for a specific cluster
  variables:
    kafka_cluster_host:
      default: pkc-xxxxx.region.provider.confluent.cloud
      description: Kafka cluster bootstrap host portion of the REST endpoint
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Consumer Groups
paths:
  /kafka/v3/clusters/{cluster_id}/consumer-groups:
    parameters:
    - $ref: '#/components/parameters/ClusterId'
    get:
      tags:
      - Consumer Groups
      summary: List consumer groups
      operationId: listConsumerGroups
      responses:
        '200':
          description: Consumer group list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroupList'
  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}:
    parameters:
    - $ref: '#/components/parameters/ClusterId'
    - name: consumer_group_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Consumer Groups
      summary: Get a consumer group
      operationId: getConsumerGroup
      responses:
        '200':
          description: Consumer group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroup'
components:
  parameters:
    ClusterId:
      name: cluster_id
      in: path
      required: true
      schema:
        type: string
  schemas:
    ConsumerGroupList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ConsumerGroup'
    ConsumerGroup:
      type: object
      properties:
        consumer_group_id:
          type: string
        state:
          type: string
        coordinator:
          type: integer
        is_simple:
          type: boolean
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using a Confluent Cloud API key (ID:secret)
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token (Confluent STS, external OAuth, or partner token)
