openapi: 3.1.0
info:
  title: Confluent Cloud Kafka REST ACLs Clusters API
  version: v3
  description: Best-effort OpenAPI 3.1 description of a subset of the Confluent Cloud Kafka REST API (v3) and Cloud Management API as published at https://docs.confluent.io/. Authoritative, full reference lives in Confluent's per-resource API documentation; this spec covers commonly used cluster, topic, partition, consumer group, and ACL operations together with the documented HTTP Basic (API key) authentication scheme.
  contact:
    name: Confluent Documentation
    url: https://docs.confluent.io/
  license:
    name: Confluent Community License / Apache 2.0
    url: https://www.confluent.io/confluent-community-license/
servers:
- url: https://api.confluent.cloud
  description: Confluent Cloud control plane
- url: https://{kafka_cluster_host}
  description: Confluent Cloud Kafka REST endpoint for a specific cluster
  variables:
    kafka_cluster_host:
      default: pkc-xxxxx.region.provider.confluent.cloud
      description: Kafka cluster bootstrap host portion of the REST endpoint
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Clusters
paths:
  /kafka/v3/clusters:
    get:
      tags:
      - Clusters
      summary: List Kafka clusters
      operationId: listKafkaClusters
      responses:
        '200':
          description: Cluster list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterList'
  /kafka/v3/clusters/{cluster_id}:
    parameters:
    - $ref: '#/components/parameters/ClusterId'
    get:
      tags:
      - Clusters
      summary: Get a Kafka cluster
      operationId: getKafkaCluster
      responses:
        '200':
          description: Cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
components:
  schemas:
    Cluster:
      type: object
      properties:
        kind:
          type: string
        cluster_id:
          type: string
        display_name:
          type: string
        availability:
          type: string
        cloud:
          type: string
        region:
          type: string
    ClusterList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Cluster'
  parameters:
    ClusterId:
      name: cluster_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using a Confluent Cloud API key (ID:secret)
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token (Confluent STS, external OAuth, or partner token)
